.height-100 {
    height: 100%;
}

.test-small {
    font-size: 0.8em;
}

.padding-small {
    padding: 0.1em;
}

.single-product {
    padding: 4em 5% 2em;  
}

.card-small {
    float: right;  
    width: 20%;
    padding: 2em 2%;   
    text-align: center;
    border: 1px solid black; 
}

.card-big {
    float: right;  
    width: 50%;
    padding: 2em 2%;   
    border: 1px solid black; 
}

.clear {
    clear: both;
}

@media (max-width: 900px) {
    .single-product {
        float: none;
        width: 100%;
    }
    .card-small {
        float: right;  
        width: 50%;
        padding: 2em 2%;   
        border: 1px solid black; 
    }
    .card-big {
        float: none;  
        width: 100%;
        padding: 2em 2%;   
        border: 1px solid black; 
    }

}